<ActionBar class="action-bar"
           [backgroundColor]="theme.darkGrey"
           [color]="theme.actionBarTextColor">
        <Label class="action-bar-title" text="Login"></Label>
    </ActionBar>
<!-- Login / Create Account -->
<StackLayout *ngIf="loginState == 'Login' || loginState == 'CreateAccount'">
        <TextField 
                #email
                autocorrect="false" 
                hint="Email address"
                keyboardType="email" 
                autocorrect="false" 
                autocapitalizationType="none"
                [(ngModel)]="user.email"></TextField>
        <TextField 
                #password
                autocorrect="false" 
                hint="Password" 
                secure="true"
                autocapitalizationType="none"
                [(ngModel)]="user.password"></TextField>
        <TextField 
                *ngIf="loginState == 'CreateAccount'"
                #confirmPassword
                autocorrect="false" 
                hint="Confirm Password" 
                secure="true"
                autocapitalizationType="none"
                [(ngModel)]="user.confirmPassword"></TextField>        
        <Button 
                *ngIf="loginState == 'Login'"
                text="Login"
                class="btn btn-primary"
                (tap)="onLogin()"></Button>
        <Button 
                *ngIf="loginState == 'CreateAccount'"
                text="Create"
                class="btn btn-primary"
                (tap)="onCreateAccount(email.text, password.text, confirmPassword.text)"></Button>
        <Button 
                *ngIf="loginState == 'CreateAccount'"
                text="Cancel"
                class="btn btn-primary"
                (tap)="onCancel()"></Button>
        <!-- <Button 
                text="Logout"
                class="btn btn-primary"
                (tap)="onLogout()"></Button> -->
        <StackLayout orientation="horizontal" alignSelf="center">
                <Label text="Create an account" padding="0 30 0 50" (tap)="toggleCreateAccount()"></Label> 
                <Label text="Forgot Password?" (tap)="toggleForgotPassword()"></Label>
        </StackLayout>
</StackLayout>
<!-- Forgot Password -->
<StackLayout *ngIf="loginState == 'ForgotPassword'">
        <TextField 
                #forgottenEmail
                autocorrect="false" 
                hint="Email address"
                keyboardType="email" 
                autocorrect="false" 
                autocapitalizationType="none"></TextField>
        <Button text="Reset Password"
                class="btn btn-primary"
                (tap)="resetPassword(forgottenEmail.text)"></Button>
        <Label text="Login to account" padding="0 0 0 50" (tap)="toggleLogin()"></Label>
</StackLayout>  