/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
@import 'css/custom.css';

.like-dislike{
    border-color: white;
    border-width: 0 0 0 1;
}

.card{
    margin: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    border-width: 1px;
    border-color: #51484b;
    background-color: #363032;
}

.font-awesome{
    font-family: 'FontAwesome', fontawesome-webfont;
}

.text-shadow{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.rows{
    padding: 10px;
    border-width: 0 0 0.5 0;
    border-color: #51484b;
    background-color: #363032;
}