<ActionBar class="action-bar" 
           [backgroundColor]="theme.darkGrey"
           [color]="theme.actionBarTextColor">
    <Label class="action-bar-title" text="Today's Happy Hours"></Label>
    <ActionItem tap="onFilter()"
                icon="res://filter"
                height="50%"
                width="50%"></ActionItem>
    <ActionItem [visibility]="listViewVisible ? 'visible' : 'collapsed'"
                (tap)="onListMapToggle()"
                icon="res://location"
                android.position="actionBar"></ActionItem>
    <ActionItem [visibility]="!listViewVisible ? 'visible' : 'collapsed'"
                (tap)="onListMapToggle()"
                icon="res://beenhere"
                android.position="actionBar"></ActionItem>
</ActionBar>
<Label
    [visibility]="debug.display.SearchComponent ? 'visible' : 'collapsed'"
    [text]="'Lat: ' + googleLocationService.userLocation?.latitude"
    color="#000"></Label>
<Label
    [visibility]="debug.display.SearchComponent ? 'visible' : 'collapsed'"
    [text]="'Lng: ' + googleLocationService.userLocation?.longitude"
    color="#000"></Label>
<RadListView 
    [backgroundColor]="theme.primaryColor"
    [items]="vendors" 
    pullToRefresh="true" 
    (pullToRefreshInitiated)="refresh($event)" 
    selectionBehavior="Press"
    (itemSelected)="onVendorTap($event)"
    multileSelection="false"
    loadOnDemandMode="Auto"
    (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
    <ng-template let-vendor="item" let-i="index">
        <vendor-listing [vendor]="vendor" [index]="index"></vendor-listing>
    </ng-template>
</RadListView>




