<ActionBar class="action-bar" 
           [backgroundColor]="theme.actionBarColor"
           [color]="theme.actionBarTextColor">
    <Label class="action-bar-title" text="Today's Happy Hours"></Label>
    <ActionItem tap="onFilter()"
                icon="res://filter"
                height="50%"
                width="50%"></ActionItem>
    <ActionItem [visibility]="listViewVisible ? 'visible' : 'collapsed'"
                (tap)="onListMapToggle()"
                icon="res://location"
                android.position="actionBar"></ActionItem>
    <ActionItem [visibility]="!listViewVisible ? 'visible' : 'collapsed'"
                (tap)="onListMapToggle()"
                icon="res://beenhere"
                android.position="actionBar"></ActionItem>
</ActionBar>

<GridLayout rows="*" backgroundColor="#262324">
    <RadListView [items]="items" 
                  pullToRefresh="true" 
                 (pullToRefreshInitiated)="refresh($event)" 
                  selectionBehavior="Press"
                 (itemTap)="onVendorTap($event)"
                  loadOnDemandMode="Auto"
                 (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
        <ng-template let-vendor="item" let-i="index">
            <vendor-listing [vendor]="vendor" [index]="index"></vendor-listing>
        </ng-template>
    </RadListView>
</GridLayout>


